*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
background-image: url(background.png);
}
.adjustment{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.nav-bar{
    height: 20vh;
    width: 70%;
    background-color: white;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.nav-container{
    height: 80%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-text{
    color: #999999;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}
.nav-text a{
    font-size: 32px;
    font-weight: 500;
    text-decoration: none;
    color: #57ad68;
}
.nav-icon{
    display: flex;
    gap: 20px;
}
.header-link{
    height: 6vh;
    width: 70%;
    background-color: #57ad68;
    display: flex;
    justify-content: center;
}
.links{
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
    gap: 25px;
}
.links a{
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}
.img-container{
    background-image: url(bridge.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 65vh;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-text{

    height: 80%;
    width: 95%;
    display: flex;
    justify-content: end;
    align-items: end;
}
.img-inside{
    height: 15vh;
    width: 35%;
    background-color: #00000080;
    border-radius: 5px;
    text-align: end;
    padding: 20px 25px;
}
.img-inside a{
    text-decoration: none;
    font-size: 32px;
    color: white;
}
.img-inside p{
    margin-top: 10px;
    font-size: 14px;
    color: white;
}

.main-container{
    background-color: rgb(239, 239, 239);
    width: 70%;
    height: 840vh;
    display: flex;
}
.img-content{
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calender{
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.content-inside{
    margin-top: 20px;
    height: 80vh;
    width: 95%;
    background-color:  white;
}
.content-inside span{
    color: #1D1D1D;
    font-size: 14px;
}
.main-img{
    height: 60vh;
    width: 100%;
}
.paragraph-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}
.paragraph{
    width: 95%;
    display: flex;
    flex-direction: column;
}
.paragraph a{
    text-decoration: none;
    font-size: 32px;
    color: #57ad68;
    margin-top: 10PX;
}
.paragraph p{
    color: #1D1D1D;
    font-size: 14px;
    margin-top: 15PX;
}
.months{
    margin-top: 20px;
    background-color: white;
    width: 90%;
    height: 40vh;
}
.months h3{
    font-size: 18px;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 20px;
}
.months ul{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.months ul li{
    font-size: 13px;
    list-style: none;
    margin-left: 20px;
    color: #57ad68;
}
.categories{
    margin-top: 20px;
    height: 30vh;
    width: 90%;
    background-color: white;
}
.categories h3{
    font-size: 18px;
    font-weight: 400;
    margin-left:20px;
    margin-top: 20px;
}
.categories ul{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.categories ul li{
    font-size: 13px;
    list-style: none;
    margin-left: 20px;
    color: #57ad68;
}
.meta{
    margin-top: 20px;
    height: 21vh;
    width: 90%;
    background-color: white;
}
.meta h3{
    font-size: 18px;
    font-weight: 400;
    margin-left:20px;
    margin-top: 20px;
}
.meta ul{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.meta ul li{
    font-size: 13px;
    list-style: none;
    margin-left: 20px;
    color: #57ad68;
}
.button{
    width: 95%;
    height: 5vh;
    margin-top: 40px;
}
.button a{
    text-decoration: none;
    color: #999999;
    font-size: 14px;
    border: 1px solid #999999;
    padding: 10px 20px;
    border-radius: 2px;
}
footer{
    display: flex;
    justify-content: center;
}
.text-section{
    background-color:  rgb(239, 239, 239);
    width: 70%;
    height: 10vh;
    border-top: 1px dotted #999999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright{
    height: 80%;
    width: 95%;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #999999;
    gap: 5px;
}
.copyright a{
    text-decoration: none;
    color: #777777;
}
